" Load common vimrc file
source ~/.vimrc

"""""""" IdeaVim specific config

"""" Plugins
set surround
set multiple-cursors
set commentary
set argtextobject
set sneak
set NERDTree

"""" Plugin Settings

let g:argtextobject_pairs="[:],(:),<:>"

"""" Mappings

nnoremap <Leader>so :source ~/.ideavimrc<CR>

" Editing
nnoremap rn :action RenameElement<CR>
nnoremap <Leader>f :action ReformatCode<CR>
nnoremap <C-q> :action GotoAction<CR>
nnoremap <Leader>ca :action ShowIntentionActions<CR>

" Navigation
nnoremap gd :action GotoDeclaration<CR>
nnoremap <Leader>a :action FileStructurePopup<CR>
nnoremap [g :action GotoNextError<CR>
nnoremap ]g :action GotoPreviousError<CR>
nnoremap <Leader>e :NERDTreeToggle<CR>
nnoremap gr :action FindUsages<CR>
nnoremap gI :action GotoImplementation<CR>
nnoremap <Leader>tf :action GotoFile<CR>

" Search
nnoremap <Leader>S :action ReplaceInPath<CR>

" Commenting
nnoremap gcc :action CommentByLineComment<CR>
vnoremap gcc :action CommentByLineComment<CR>

" Tool Windows
nnoremap <F7><F7> :action ActivateTerminalToolWindow<CR>

"" Git
" Show the git blame annotation gutter
nnoremap <Leader>gB :action Annotate<CR>
